In [ ]:
import pandas as pd

# Load the data
file_path = 'kayak_data_v02.csv'
df = pd.read_csv(file_path)

# Define NYC boundaries
lat_min, lat_max = 40.4774, 40.9176
lon_min, lon_max = -74.2591, -73.7004

# Filter data
df_filtered = df[(df['latitude'] >= lat_min) & (df['latitude'] <= lat_max) &
                 (df['longitude'] >= lon_min) & (df['longitude'] <= lon_max)]

In [2]:
df_filtered

,name,locality,cuisine,price_per_person,overall_rating,food,service,ambiance,reviews,noise,dining_style,latitude,longitude
0,Malai Marke,East Village,Indian,$30 and under,4.4,4.6,4.3,3.9,26.0,Moderate,Casual Dining,40.726837,-73.987674
1,The Flatiron Room - Nomad,Midtown,American,$31 to $50,4.5,4.2,4.4,4.8,312.0,Moderate,Casual Elegant,40.744518,-73.990463
2,Bocca Di Bacco (Chelsea - 20th St.),Chelsea,Italian,$30 and under,4.4,4.5,4.4,4.4,150.0,Moderate,Casual Dining,40.744624,-74.003024
4,BXL ZOUTE,Flatiron District,Belgian,$30 and under,4.6,4.6,4.6,4.5,60.0,Moderate,Casual Dining,40.741787,-73.992576
5,Gallow Green,Chelsea,Continental,$31 to $50,4.3,4.1,4.3,4.7,183.0,Moderate,Casual Dining,40.750772,-74.004079
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,Txikito,Chelsea,Basque,$31 to $50,4.4,4.5,4.4,4.0,3010.0,Moderate,Casual Dining,40.747390,-74.000411
797,Kokage,Midtown,Japanese,$30 and under,4.5,4.5,4.5,4.6,74.0,Moderate,Casual Dining,40.749851,-73.977734
798,La Nacional Restaurant,Chelsea,Spanish,$30 and under,4.7,4.7,4.5,4.5,167.0,Moderate,Casual Dining,40.739380,-74.001227
799,Churrascaria Plataforma Brazilian Steakhouse,Hell's Kitchen,Brazilian Steakhouse,$50 and over,4.5,4.5,4.5,4.5,273.0,Moderate,Casual Elegant,40.761916,-73.987732
800,Rory Dolan's,NaN,American,$30 and under,4.8,4.7,4.7,4.6,20.0,Moderate,Casual Dining,40.904925,-73.868786

In [1]:
# Save to new CSV file
df_filtered.to_csv('kayak_data_filteredcoordinates.csv', index=False)