In [1]:
import pandas as pd
import re

# Load the data
file_path = 'kayak_data_v04_FINALUPLOAD.csv'
df = pd.read_csv(file_path)

In [2]:
df

,name,locality,cuisine,price_per_person,overall_rating,food,service,ambiance,reviews,noise,dining_style,latitude,longitude,url
0,Broadstone Bar & Kitchen,Financial District,American,$,4.2,4.1,4.1,4.1,268,Moderate,Casual Dining,40.704115,-74.011729,https://www.kayak.com/New-York-Restaurants-Bro...
1,Stone Street Tavern,Financial District,American,$,4.5,4.4,4.5,4.2,75,Moderate,Casual Dining,40.704278,-74.010273,https://www.kayak.com/New-York-Restaurants-Sto...
2,Industry Kitchen,Financial District,American,$,4.5,4.3,4.4,4.5,440,Moderate,Casual Dining,40.704921,-74.004874,https://www.kayak.com/New-York-Restaurants-Ind...
3,The Ketch - NYC,Financial District,Contemporary American,$,4.0,3.9,3.9,3.8,534,Moderate,Casual Elegant,40.706306,-74.007466,https://www.kayak.com/New-York-Restaurants-The...
4,The Tuck Room- New York,Financial District,Unspecified,$,4.2,4.1,4.1,4.4,1163,Moderate,Casual Elegant,40.706629,-74.003141,https://www.kayak.com/New-York-Restaurants-The...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,Sugar Factory Broadway,Upper West Side,American,$$$,3.8,3.7,3.8,3.8,10900,Moderate,Casual Dining,40.775227,-73.982607,https://www.kayak.com/New-York-Restaurants-Sug...
707,Sant Ambroeus - Madison Avenue,Upper East Side,Italian,$$$,4.6,4.5,4.5,4.4,4916,Moderate,Casual Elegant,40.775404,-73.962992,https://www.kayak.com/New-York-Restaurants-San...
708,Sushi Kaito,Upper West Side,Sushi,$$$,4.9,5.0,4.9,4.7,148,Moderate,Casual Dining,40.779177,-73.983641,https://www.kayak.com/New-York-Restaurants-Sus...
709,Sushi of Gari - Columbus Avenue,Upper West Side,Sushi,$$$,4.8,4.8,4.7,4.3,170,Moderate,Fine Dining,40.781171,-73.976340,https://www.kayak.com/New-York-Restaurants-Sus...
710,Sushi Inoue,Harlem,Sushi,$$$,4.5,4.7,4.5,4.1,932,Low,Fine Dining,40.810836,-73.943561,https://www.kayak.com/New-York-Restaurants-Sus...

In [10]:
# Exclude specific columns
columns_to_exclude = ['reviews','name', 'noise', 'review', 'latitude', 'longitude', 'url']
columns_to_check = [col for col in df.columns if col not in columns_to_exclude]

# Create a DataFrame to store unique values
unique_values_df = pd.DataFrame(columns=columns_to_check)

# Loop through each remaining column and store unique values by row
for column in columns_to_check:
    unique_values = df[column].unique()
    unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))

# Save the unique values DataFrame to a CSV file
unique_values_df.to_csv('unique_values.csv', index=False)

C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))
C:\Users\ric pc\AppData\Local\Temp\ipykernel_13868\1579201704.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unique_values_df = unique_values_df.append(pd.Series(unique_values, name=column))

In [ ]:
# Define NYC boundaries
lat_min, lat_max = 40.4774, 40.9176
lon_min, lon_max = -74.2591, -73.7004

# Filter data
df_filtered = df[(df['latitude'] >= lat_min) & (df['latitude'] <= lat_max) &
                 (df['longitude'] >= lon_min) & (df['longitude'] <= lon_max)]

In [4]:
df_filtered

,name,locality,cuisine,price_per_person,overall_rating,food,service,ambiance,reviews,noise,dining_style,latitude,longitude
0,Malai Marke,East Village,Indian,$30 and under,4.4,4.6,4.3,3.9,26.0,Moderate,Casual Dining,40.726837,-73.987674
1,The Flatiron Room - Nomad,Midtown,American,$31 to $50,4.5,4.2,4.4,4.8,312.0,Moderate,Casual Elegant,40.744518,-73.990463
2,Bocca Di Bacco (Chelsea - 20th St.),Chelsea,Italian,$30 and under,4.4,4.5,4.4,4.4,150.0,Moderate,Casual Dining,40.744624,-74.003024
4,BXL ZOUTE,Flatiron District,Belgian,$30 and under,4.6,4.6,4.6,4.5,60.0,Moderate,Casual Dining,40.741787,-73.992576
5,Gallow Green,Chelsea,Continental,$31 to $50,4.3,4.1,4.3,4.7,183.0,Moderate,Casual Dining,40.750772,-74.004079
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,Txikito,Chelsea,Basque,$31 to $50,4.4,4.5,4.4,4.0,3010.0,Moderate,Casual Dining,40.747390,-74.000411
797,Kokage,Midtown,Japanese,$30 and under,4.5,4.5,4.5,4.6,74.0,Moderate,Casual Dining,40.749851,-73.977734
798,La Nacional Restaurant,Chelsea,Spanish,$30 and under,4.7,4.7,4.5,4.5,167.0,Moderate,Casual Dining,40.739380,-74.001227
799,Churrascaria Plataforma Brazilian Steakhouse,Hell's Kitchen,Brazilian Steakhouse,$50 and over,4.5,4.5,4.5,4.5,273.0,Moderate,Casual Elegant,40.761916,-73.987732
800,Rory Dolan's,NaN,American,$30 and under,4.8,4.7,4.7,4.6,20.0,Moderate,Casual Dining,40.904925,-73.868786

In [7]:
df['price_per_person'] = df['price_per_person'].str.replace('\$30 and under', '$')
df['price_per_person'] = df['price_per_person'].apply(lambda x: re.sub(r'\$\d+\s?to\s?\$\d+', '$$', x))
df['price_per_person'] = df['price_per_person'].str.replace('\$50 and over', '$$$')
df.head()

C:\Users\ric pc\AppData\Local\Temp\ipykernel_28852\2829016848.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price_per_person'] = df['price_per_person'].str.replace('\$30 and under', '$')
C:\Users\ric pc\AppData\Local\Temp\ipykernel_28852\2829016848.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price_per_person'] = df['price_per_person'].str.replace('\$50 and over', '$$$')

,name,locality,cuisine,price_per_person,overall_rating,food,service,ambiance,reviews,noise,dining_style,latitude,longitude
0,Broadstone Bar & Kitchen,Financial District,American,$,4.2,4.1,4.1,4.1,268,Moderate,Casual Dining,40.704115,-74.011729
1,Stone Street Tavern,Financial District,American,$,4.5,4.4,4.5,4.2,75,Moderate,Casual Dining,40.704278,-74.010273
2,Industry Kitchen,Financial District,American,$,4.5,4.3,4.4,4.5,440,Moderate,Casual Dining,40.704921,-74.004874
3,The Ketch - NYC,Financial District,Contemporary American,$,4.0,3.9,3.9,3.8,534,Moderate,Casual Elegant,40.706306,-74.007466
4,The Tuck Room- New York,Financial District,Unspecified,$,4.2,4.1,4.1,4.4,1163,Moderate,Casual Elegant,40.706629,-74.003141

In [9]:
# Save to new CSV file
df.to_csv('kayak_data_dollarsigns.csv', index=False)